
# NetBeans
#==============================================================================
*.mf
*.policy
*.properties
nbproject/
nbproject/private/
lib/
build/
.svn/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

#==============================================================================





/03Develop/AEMJSEEVL0201v01EvaluacionJavaIO-JDK8/dist/
/03Develop/AEMJSEEVL0401v01EvaluacionJavaUTIL-JDK8/dist/
/03Develop/AEMJSEEVL0501v01EvaluacionJavaLANG-JDK8/dist/
/03Develop/BVAJWBEVL0201v01JSPagination/dist/
/03Develop/JFSADS-E2-TAL005RandomNumber/target/
/03Develop/JFSADS-E02-TAL005RandomNumber/target/
/03Develop/JFSFSI-SSN04-TAL008Covid19/target/
/03Develop/JFSFSI-SSN08-TAL062AreaLateralSuperficie/target/
/03Develop/JFSADS-E08-TAL062AreaLateralSuperficie/target/
/03Develop/AEMJSEEVL1001v01EvaluationSwingWithJDK8/target/
/03Develop/JFSFSI-SSN10-TAL030RetiroAfpArrayList/target/
/03Develop/JFSFSI-SSN11-TAL031RetiroAfpLinkedList/target/
/03Develop/JFSFSI-SSN12-TAL032RetiroAfpStack/target/
