
# NetBeans
#==============================================================================
*.xml
*.mf
*.policy
*.properties
nbproject/
nbproject/private/
lib/
build/
.svn/
#==============================================================================



/Web02v01EvaluacionJsp/build/
/Web02v01EvaluacionJsp/dist/
/AEMJWBEVL0401v01EvaluacionJSTL/nbproject/private/
/AEMJSEEVL0301v01EvaluacionJava-JDK8/build/
/JavaApplication1/nbproject/private/


/03Develop/AEMJSEEVL0201v01EvaluacionJavaIO-JDK8/dist/
/03Develop/AEMJSEEVL0401v01EvaluacionJavaUTIL-JDK8/dist/
/03Develop/AEMJSEEVL0501v01EvaluacionJavaLANG-JDK8/dist/
/03Develop/BVAJWBEVL0201v01JSPagination/dist/