<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<Configuration>
    <Properties>
        <Property name="log-path">D:\\tmp</Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="file-log" fileName="${log-path}/JSELog4j2Xml.log" filePattern="${log-path}/JSELog4j2Xml-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="[%5p] - %c{1}:%L %d{ddMMyyyy HH:mm:ss} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"  modulate="true" />
                <SizeBasedTriggerPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%5p] - [%t] - %c{1}:%L %d{dd/MM/yyyy HH:mm:ss.SSS} - %msg%n}" />
        </Console>
    </Appenders>
    <Loggers>
     
        <!-- here we restrict the log level by package 
        <Logger name="com.rrivero.log" level="info" additivity="true">
            <appender-ref ref="file-log" level="fatal" />
        </Logger>
        -->
         
        <Root level="trace">
            <appender-ref ref="console" />
            <appender-ref ref="file-log" />
        </Root>
    </Loggers>
</Configuration>