/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

head{
    background: #00B;
}

/*
    Listas
*/

ul{
    list-style-type: circle;
}

.inListOrder{
    list-style-type: square;
    list-style-position: inside
}

.outListOrder{
    list-style-type: decimal;
    list-style-position: outside;
    background-color: #0B0;
}

.outListOrderImage{
    list-style-position: outside;
    list-style-image: url("flecha.png");
    background: #0B0;
}