/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body{
    color: #333;
    background-color: #CCD;
    font-size: 1em;
}
h1{
    background: cornflowerblue;
    background-color: yellow;
    font-size: 27px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: verdana;
    font-size: 20px;
    color: blue;
    text-align: justify
}

